{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}        
<section id="content" class="body">    
    <h1 class="entry-title">{{ page.title }}</h1>
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}
    {{ page.content }}
    <script>
      var idcomments_acct = 'a9caf2a73f0584fce57ce54adee072f2';
      var idcomments_post_id;
      var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    <script>
    var idcomments_acct = 'a9caf2a73f0584fce57ce54adee072f2';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
    <script type="text/javascript" src="https://www.w3counter.com/tracker.js?id=114073"></script> 
</section>
{% endblock %}
